.background-color{
    background-color: 
    #E76F51;
}
.grey-scale img{
    filter:grayscale(100%);
}
.p-width{
    width:369px;
    text-align: justify;
}
.radius img{
    border-radius: 50%;
}
.pic-align img{
    margin-left:80px;
}
.margin{
    margin-top:80px;
}
@media only screen and (max-width: 768px) {
    .width-img img{
        width:300px;
        height:200px;
    }
    .para{
        width:300px;
    }
    .client-area{
        width:400px;
    }
    .question-area{
        width:400px;
    }
    .slider{
        width:450px;
    }
    .scrollspy-area{
        width:450px;
    }
    .fetured{
        width:267px;
    }
  }